/* 
	class for buttons: ui-button ui-widget ui-state-default ui-corner-all large-button/small-button 
*/
input.ui-button {    
	/*font-size:10px;*/
	margin: 1px;
}

input.ui-button:hover {    
	background: #e5e5e5;
}

.large-button{
	font-size:10px;
}

.small-button{
	font-size:8px;
}

